@charset "UTF-8";

body {
            background-color: rgb(238, 207, 207);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
       } 
       h1 {
            color: rgb(67, 102, 102);
       }
       h2 {
            color: rgb(31, 70, 104);
       }
       p {
            text-align: justify;
       }
